.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}
.home-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-right img {
    width: 50%;
    border-radius: 30%;
}
